build/
sdkconfig
sdkconfig.old
managed_components/
.devcontainer/*
.vscode/*

*.swp
*.swo
*.log
*.tmp

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt


*.code-workspace
.codelite/
.cache/
